 /* shared-fonts */
 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

 /* For Titles  */
.noto-serif-title{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*For paragraph */


.inter-para {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Shared-colors */
.h-color1{
    color: #E95A08;
}
.h-color2{
   color:  #000000;
}
.para-color{
    color: #000000;
    opacity: 50%;
}
.subtitle-color{
color: #111111;
}

.btn-primary{
    background-color: #E95A08;
    color: white;
    width: 270px;
    height: 50px;
    border: none;
    font-weight: 700;
}
.btn-shop{
    background-color: transparent;
    color: white;
    width: 270px;
    height: 50px;
    border: none;
    font-weight: 700;
    font-size: 1.25rem;
}
.plant-name{
    font-weight: 600;
    font-size: 1.5rem; 
    margin-bottom: 0;
    margin-top: 30px;

}
.plant-price{
    font-weight: 800;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 30px;
}


/* Styles for navbar */
nav{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin: 30px 150px;
    
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
 margin-left: 48px;
 
}
nav ul li a{
text-decoration: none;
}
.logo{
    width: 135px;
    height: 82px;
}
.home{
    font-size:1rem;
    font-weight: 800;
    color:  #000000;
}
.cart{
    color:  #000000;
}

/* Styles for Fresh Flowers Section */
.fresh{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 137px;
    margin-top: 103px;
}
.fresh-title{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 0px;
}
.fresh-para{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 13px;
}
.fresh-img{
    width: 570px;
    height: 355px;
}

/* Styles for Our plants Section */
.plants{
    text-align: center;
    margin: 0 150px;
    
   
}
.plant-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    gap: 20px;
}
.plant-items{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    height: 485px;
    width: 270px;;
}
.plant-title{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0;
}
.plant-description{
    font-weight: 400;
    font-size: 1.25rem;
}
/* For Trusted Seller Section */
.trusted-seller{
    display: flex;
    margin: 0 150px;
    margin-top: 210px;
    gap: 60px;
}
.trusted-logo{
    height: 286px;
    width: 286px;
    margin-left: -200px;
    margin-top: -150px;
}
.trusted-img{
    width: 540px;
    height: 597px;
}
.plants-lover{
    width: 540px;
    height: 521px;
}
.plants-lover-title{
    font-weight: 800;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0px;
}
.about-store{
    margin-bottom: 10px;
    font-size: a.5rem;
    font-weight: 500;
}

/* for deals section */
.deals{
    text-align: center;
    align-items: center;
    margin: 120px 150px;
}
.deal-title{
    font-size: 4rem;
    font-weight: 800;
}
.deal-description{
    font-size: 1.5rem;
    font-weight: 500;
}
/* for coffers or challenge part */
.offers{
    display: flex;
    gap: 60px;
    margin: 0 150px;
    align-items: center;
    align-content: center;
    text-align: center;
}
.first-offer{
    text-align: center;
    align-items: center;
    align-content: center;
    background-image: url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
   border-radius: 15px;
   
}
.second-offer{
    
    text-align: center;
    align-items: center;
    align-content: center;
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
   border-radius: 15px;
    
}
/* .third-offer{
    text-align: center;
    align-items: center;
    align-content: center;
    
} */
.offer-half1{
   
    display: grid;
   grid-template-columns: repeat(1,1fr);
   width: 367px;
   height: 423px;
   row-gap: 20px;
}
.offer-half2{
    text-align: center;
    align-items: center;
    align-content: center;
background-image: url(../assets/deal-zabo.png);
    width: 750px;
     height: 423px;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.offer-percentage,.shop{
    font-size: 2rem;
    font-weight: 800;
    color: white;
}







/* Responsive for mobile deveice */
@media screen and (max-width:576px) {
nav,.fresh,.plants{
    margin: auto;
}

  .home,
  .shop,
  .about 
  {
    display: none;
  }
  .cart{
        display: inline-block;
    }

    .fresh{
        display: flex;
        flex-direction: column-reverse;
    }
    .fresh-img{
        width: 100%;
    }
    .plant-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 14px;
        margin-right: 17px;
        gap: 10px;
    }
    .trusted-logo{
        display: none;
    }
    .trusted-seller{
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        margin-top: 41px;  
    } 

    .offers{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .offer-half2{
        width: 367px;
   height: 423px;
    }
    
}